<!DOCTYPE html>
<img src="/images/img1.jpg" style="float: left;" height="150px" width="100px" />

<div id="prueba"> Nombre: Ricardo Castillo <p>
	<br>
	Correo: ricardocastilloisc@gmail.com<p>
	<br>
	<p>
<img src="/images/img1.jpg"  />
<p>
</div>


